body {
    background-color:#FFFFFF;
    font-family:times,sans-serif;
    font-size:12px;
}
/*Heading*/
h1 {
    background-color:#FFFFFF;
    font-family:times,sans-serif;
    color:#580000;
    font-size:20px;
}
h2 {
    background-color:#FFFFFF;
    font-family:times,sans-serif;
    color:#580000;
    font-size:18px;
}
h3 {
    background-color:#FFFFFF;
    font-family:times,sans-serif;
    color:#580000;
    font-size:16px;
}
h4 {
    background-color:#FFFFFF;
    font-family:times,sans-serif;
    color:#580000;
    font-size:15px;
}
h5 {
    background-color:#FFFFFF;
    font-family:times,sans-serif;
    color:#580000;
    font-size:14px;
}
h6 {
    background-color:#FFFFFF;
    font-family:times,sans-serif;
    color:#580000;
    font-size:13px;
}
/*Horizontal Rule*/
hr {
    color:#CCCCCC;
    height:1px;
}
/*Paragragh*/
p {
    font-size:12px;
    margin-left:5px;
}
/*A-HREF*/
a {
    font-family:times,sans-serif;
    font-size:12px;
    color:#444444;
}
a:link {
    text-decoration:none;
    color:#444444;
}
a:visited {
    text-decoration:none;
    color:#444444;
}
a:hover {
    text-decoration:underline;
    color:#444444;
}
a:active {
    text-decoration:none;
    color:#444444;
}
